// 
// Sidebar
// 

#sidebar-wrapper {
    position: fixed;
    z-index: 50;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: $primary;
    border-left: 1px solid fade-out($white, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-nav {
    position: static;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: $white;
    padding: 10px 15px;
    i{
        opacity: 0;
    }
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav.sidebar-nav-social li.sidebar-nav-item a {
    svg{
        min-width: 16px;
    }
    i{
        opacity: 1;
    }
}

.sidebar-nav>.sidebar-brand {
    font-size: 1.2rem;
    background: fade-out($gray-800, .9);
    height: initial;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
    color: $white;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: $white;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;

    width: 50px;
    height: 50px;

    text-align: center;

    color: $white;
    background: fade-out($gray-800, .5);

    line-height: 50px;

    z-index: 999;

    &:focus,
    &:hover {
        color: $white;
    }

    &:hover {
        background: $gray-800;
    }
}

.author{
    position: relative;
    &__name{
        position: absolute;
        top: inherit;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 15px;
        background: rgba(0,0,0, .7);
        color: $white;
        line-height: 1;
    }
}